/* scobiform.com 2024 */

input[type="range" i] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    width: -webkit-fill-available;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px;
    background: var(--m);
    cursor: pointer; 
}

input[type="submit" i], input[type="reset" i] {
    appearance: auto;
    user-select: none;
    text-align: center;
    background-color: var(--m);
    color: var(--k);
    white-space: pre;
    padding-block: 0.21rem;
    border: none;
    font-size: smaller;
}
