/* scobiform.com 2024 */

button {
    font-family: inherit;
}

label {
    font-family: inherit;
    display: flex;
}

legend {
    font-family: inherit;
    padding: 0.42rem;
    margin-bottom: 1.4rem;
    background: var(--c);
    color: var(--ff);
    font-size: smaller;
}

hr {
    border: 0;
    height: 0;
    background: var(--k);
    margin: 0.21rem;
}

input[type="text" i], input[type="password" i], input[type="email" i] {
    appearance: auto;
    background-color: var(--k);
    color: var(--00);
    border: 1px var(--k) solid;
    padding: 0.21rem;
    width: -webkit-fill-available;
}

input[type="text" i]:focus, input[type="password" i]:focus, input[type="email" i]:focus {
    background-color: var(--ff);
    color: var(--00);
    border: 1px var(--m) solid;
}

input[type="textarea" i] {
    appearance: auto;
    background-color: var(--k);
    color: var(--00);
    border: 1px var(--k) solid;
    padding: 0.21rem;
    width: -webkit-fill-available;
}

input[type="range" i] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    width: -webkit-fill-available;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px;
    background: var(--m);
    cursor: pointer; 
}


input[type="submit" i], input[type="reset" i] {
    appearance: auto;
    user-select: none;
    text-align: center;
    background-color: var(--m);
    color: var(--k);
    white-space: pre;
    padding-block: 0.21rem;
    border: none;
    font-size: smaller;
    width: -webkit-fill-available;
    height: 42px;
}

input[type="submit" i]:hover, input[type="reset" i]:hover {
    background-color: var(--k);
    color: var(--m);
    border: 1px var(--m) solid;
    cursor: pointer;
}

/* Thread worker */
.threadWorker {
    height: fit-content;
    overflow-x: hidden;
    display: inline-grid;
    width: 100%;
  }

.threadWorker button {
    background-color: var(--ff);
    color: var(--c);
    border: none;
    width: inherit;
    margin: 0 auto;
    font-size: xxx-large;
}

.threadWorker button:hover {
    background-color: var(--k);
    color: var(--m);
    border: none;
    cursor: pointer;
}

/* Account information */
.accountInformation {
    width: inherit;
    bottom: 0;
    position: absolute;
}

.accountInformation img {
    width: -webkit-fill-available;
    height: auto;
}

/* Bot messages */
#messages {
    height: var(--maxHeight);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--c) var(--k);
    scrollbar-width: thin;
    width: -webkit-fill-available;
    word-wrap: break-word;
    padding: 0.42rem;
  }
  
  #messages img {
    width: inherit;
    width: -webkit-fill-available;
    height: auto;
  }
  
  #message video {
    width: inherit;
    width: -webkit-fill-available;
    height: auto;
  }


/* Configuration */
.config {
    height: var(--maxHeight);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--c) var(--k);
    scrollbar-width: thin;
    padding: 0.42rem;
}

/* Content tabs */
.tab {
    overflow: hidden;
    border: 1px solid var(--k);
    background-color: var(--ff)
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: var(--k);
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: var(--m);
    color: var(--k);
  }
  
  /* Style the tab content */
  .tabcontent {
    border: 1px solid var(--k);
    border-top: none;
    height: 100vh;
    width: 21rem;
  }

/* UI Elements */

/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Adding new input elements */
.add-icon {
  cursor: pointer;
  font-size: smaller;
  margin-left: 8px;
  float: right;
}