<!-- Flyout Menu -->
        {% if current_user.is_authenticated %}
            <div>Welcome, {{ current_user.auth_id }}!</div>
            <form action="/logout" method="post">
                <input type="submit" value="Logout" aria-label="Logout" class="uiButton">
            </form>

            <a href="/instance" aria-label="Instance information" class="uiButton">Instance</a>
            <a href="/nodeinfo" aria-label="Node information" class="uiButton">Node Info</a>

        {% else %}
            <div class="login">
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username" required aria-label="Username">
                    <input type="password" name="password" placeholder="Password" required aria-label="Password">
                    <button type="submit">Login</button>
                </form>
            </div>
        {% endif %}

<script>
    document.getElementById('accountButton').addEventListener('click', function() {
        document.getElementById('flyoutMenu').style.display = 'block';
        toggleButtons();
    });

    function closeFlyoutMenu() {
        document.getElementById('flyoutMenu').style.display = 'none';
        toggleButtons();
    }

    function toggleButtons() {
        const accountButton = document.getElementById('accountButton');
        const closeMenuButton = document.getElementById('closeMenuButton');
        if (accountButton.style.display === 'none') {
            accountButton.style.display = 'block';
            closeMenuButton.style.display = 'none';
        } else {
            accountButton.style.display = 'none';
            closeMenuButton.style.display = 'block';
        }
    }
</script>


