

<form>
    <label for="Hashtags">Hashtags:</label>
    <input type="text" id="Hashtags" name="hashtags" placeholder="Enter text">

    <label for="text-input">Bad words:</label>
    <input type="text" id="text-input" name="text-input" placeholder="Enter text">

    <label for="text-input">Bad hashtags</label>
    <input type="text" id="text-input" name="text-input" placeholder="Enter text">

    <label for="text-input">Bad accounts:</label>
    <input type="text" id="text-input" name="text-input" placeholder="Enter text">

    <!-- Slider range for interval in seconds from 0 to 1 day -->
    <label for="interval">Interval:</label>
    <input type="range" id="interval" name="interval" min="0" max="86400" step="1" value="0">

    <input type="submit" value="Submit" aria-label="Submit form">

    <input type="reset" value="Reset" aria-label="Reset form">
</form>
